<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerFragment">
    <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <span class="fs-4">📋 장세웅의 게시판</span>
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/home}" class="nav-link">홈</a></li>
            <li class="nav-item"><a th:href="@{/member/post}" class="nav-link">게시글 작성</a></li>
            <li class="nav-item"><a th:href="@{/member/postList}" class="nav-link">게시글 조회</a></li>
            <li class="nav-item"><a th:href="@{/member/signup}" class="nav-link">회원가입</a></li>
            <li class="nav-item"><a th:href="@{/member/login}" class="nav-link">로그인</a></li>
            <li class="nav-item"><a th:href="@{/member/logout}" class="nav-link">로그아웃</a></li>
        </ul>
    </div>
</div>