<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>장세웅의 게시판</title>

  <link th:href="@{css/bootstrap.min.css}"
        rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link th:href="@{css/signin.css}" rel="stylesheet">

  <style>
    .field-error {
      color: #dc3545;
    }
  </style>
</head>
<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form action="" th:action th:object="${loginForm}" method="post">
      <div th:if="${#fields.hasGlobalErrors()}">
        <p class="is-invalid" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
      </div>

      <span style="font-size:4em;">🔐</span>
      <h1 class="h3 mb-3 fw-normal">아래 정보를 입력해주세요.</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingUserId" th:field="*{userId}"
               th:errorclass="is-invalid" placeholder="user id">
        <label for="floatingUserId">ID</label>
        <div class="field-error" th:errors="*{userId}"></div>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" th:field="*{password}"
               th:errorclass="is-invalid" placeholder="Password">
        <label for="floatingPassword">Password</label>
        <div class="field-error" th:errors="*{password}"></div>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end col-auto">
        <input class="w-100 btn btn-lg btn-primary" type="submit" value="로그인" />
        <button class="w-100 btn btn-lg btn-success" th:onclick="|location.href='@{/member}'|" type="button">회원가입</button>
      </div>

      <p class="mt-5 mb-3 text-muted">© 2022</p>

    </form>
  </main>
</body>
</html>
