<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>장세웅의 게시판</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <main>
        <div class="container p-5">
            <form>
            <h2>📋 게시글 목록</h2><br>
                <div class="input-group mb-4" th:object="${PostListForm}">
                    <span class="input-group-text" id="inputGroup-sizing-default">검색</span>
                    <select class="form-select" th:field="*{searchParam}">
                        <option th:each="postListForm : ${postListForms}"
                                th:value="${postListForm.searchCode}"
                                th:text="${postListForm.searchParam}"></option>
                    </select>
                    <input type="text" class="form-control" placeholder="글을 입력하세요.">
                    <input type="submit" class="btn btn-primary" value="검색" th:onclick="|location.herf='@{/member/postList(searchParam=${searchParam})}'|">
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr style="text-align: center">
                        <th>번호</th>
                        <th>일시</th>
                        <th>제목</th>
                        <th>작성자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="text-align: center; cursor: pointer" th:each="value : ${postDtos}"
                        th:onclick="|location.href='@{/member/postRead/{id} (id=*{value.id})}'|">
                        <td th:text="${value.id}"></td>
                        <td th:text="${value.writeTime}"></td>
                        <td th:text="${value.title}"></td>
                        <td th:text="${value.author}"></td>
                    </tr>
                    </tbody>
                </table>

                <div class="pt-5">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center"
                            th:with="start=${T(java.lang.Math).floor(postDtos.number/maxPage)*maxPage + 1},
                            end=(${start + (maxPage - 1) < postDtos.totalPages ? start + (maxPage - 1) : postDtos.totalPages})">
                            <li th:class="${postDtos.first} ? 'page-item disabled' : 'page-item'">
                                <a class="page-link" th:href="@{/member/postList(page=0)}">&lt;&lt;</a>
                            </li>
                            <li th:class="${postDtos.first} ? 'page-item disabled' : 'page-item'">
                                <a class="page-link" th:href="@{/member/postList(page=${postDtos.number - 1})}">&lt;</a>
                            </li>
                            <li th:each="page : ${#numbers.sequence(start, end)}"
                                th:class="${page == postDtos.number + 1} ? 'page-item active' : 'page-item'">
                                <a class="page-link"
                                   th:text="${page}" th:href="@{/member/postList(page=${page - 1})}"></a>
                            </li>
                            <li th:class="${postDtos.last} ? 'page-item disabled' : 'page-item'">
                                <a class="page-link" th:href="@{/member/postList(page=${postDtos.number + 1})}">&gt;</a>
                            </li>
                            <li th:class="${postDtos.last} ? 'page-item disabled' : 'page-item'">
                                <a class="page-link" th:href="@{/member/postList(page=${postDtos.totalPages - 1})}">&gt;&gt;</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <p class="d-grid gap-2 d-md-flex justify-content-lg-around col-auto">
                    <button class="btn btn-lg btn-primary mb-2 w-auto" th:onclick="|location.href='@{/member/signup}'|" type="button">회원가입</button>
                    <button class="btn btn-lg btn-success mb-2 w-auto" th:onclick="|location.href='@{/member/login}'|" type="button">로그인</button>
                    <button class="btn btn-lg btn-warning mb-2 w-auto" th:onclick="|location.href='@{/member/post}'|" type="button">게시글 작성</button>
                    <button class="btn btn-lg btn-secondary mb-2 w-auto" th:onclick="|location.href='@{/member/postList}'|" type="button">게시글 조회</button>
                </p>

            </form>
        </div>
    </main>
</body>
</html>