<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>장세웅의 게시판</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

    <style>
      .field-error {
        color: #dc3545;
      }
    </style>
</head>
<body>
  <main>
    <div class="container p-5">
      <form action="" th:action th:object="${postForm}" method="post" enctype="multipart/form-data">
        <div th:if="${#fields.hasGlobalErrors()}">
          <p class="is-invalid" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>
        <h2>✍️ 게시글 작성</h2><br>

        <div class="mb-3">
          <label for="title" class="form-label">제목</label>
          <input type="text" class="form-control" id="title" th:field="*{title}"
                 th:errorclass="is-invalid" placeholder="제목">
          <div class="field-error" th:errors="*{title}"></div>
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">게시글</label>
          <textarea class="form-control" id="content" rows="5" th:field="*{content}"
                    th:errorclass="is-invalid" placeholder="내용" style="resize: none; height: 350px"></textarea>
          <div class="field-error" th:errors="*{content}"></div>
        </div>
        <div class="mb-3">
          <label for="imageFile" class="form-label">📷 사진첨부</label>
          <input type="file" class="form-control" name="imageFile" accept="image/*" id="imageFile"
                 multiple="multiple" value="첨부파일" placeholder="첨부파일">
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end col-auto">
          <input type="submit" class="btn btn-primary" value="저장">
          <input type="reset" class="btn btn-secondary" value="초기화">
          <button type="button" class="btn btn-light" th:onclick="|location.href='@{/member/home}'|" value="취소"></button>
        </div>

      </form>
    </div>
  </main>
</body>
</html>