<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>장세웅의 게시판</title>
  <link rel="canonical" href="https://getbootstrap.kr/docs/5.0/examples/headers/">
  <link th:href="@{/css/bootstrap.min.css}"
        href="https://getbootstrap.kr/docs/5.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <style>
    .img {
      max-width: 375px;
      width: auto !important;
      height: auto !important;
    }
    .image-box {
      width:375px;
      height:375px;
      overflow:hidden;
      margin:0 auto;
    }
    .image-thumbnail {
      width:100%;
      height:100%;
      object-fit:cover;
    }
  </style>

</head>
<body>
  <main>
    <div class="container p-5">
      <div class="d-flex justify-content-center">
        <div class="card mb-3 img">

          <div id="carouselImage" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner image-box">
              <div class="carousel-item image-thumbnail active">
                <img src="https://cdnimg.melon.co.kr/cm2/artistcrop/images/002/61/143/261143_20210325180240_500.jpg?61e575e8653e5920470a38d1482d7312/melon/optimize/90"
                     class="card-img-top" alt="...">
              </div>
              <div class="carousel-item image-thumbnail">
                <img src="https://w.namu.la/s/426bf4c3324155e1b82e0e046c4e61042676dc0fd5fd75cb78897be9bd4175637a5c9613642fde68a30929743919cd17c121bbb40a61245667c9a4b14c53cb0d69039df0de56be114ecdcf24820c1411bf35b7917905dbde4a366d4f101906e80ea2d614074e2e2692d0550521fc14de"
                     class="card-img-top" alt="...">
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselImage" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselImage" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

          </div>

          <div class="card-body">
            <h5 class="card-title">아이유 IU</h5>
            <p class="card-text">대한민국의 가수이자 배우.

              만 15세였던 중학교 3학년때 2008년에 가수로 데뷔했으며, 예명인 '아이유'는 '음악으로 너와 내가 하나가 된다'라는 뜻을 가지고 있다.[54] 매력적인 음색과 뛰어난 작사ㆍ작곡 능력을 바탕으로 아이돌이자 아티스트로서 십수 년째 사랑 받고 있을 뿐 아니라,[55] 2012년 이래로 매년 국내 및 아시아의 주요 도시에서 대규모 콘서트를 진행하며 공연자로서도 활발히 활동 중이다.[56]

              가수 활동 외에도 각종 예능 프로그램에 출연했으며,[57] 다수의 광고 모델로도 활약 중이다.[58] 2011년에 연기자로 데뷔한 후에는 다양한 드라마와 영화에서 연기 활동도 활발하게 펼치고 있다.[59] 연예계에서는 그야말로 올라운더로 인정 받는 만능 엔터테이너이며, 이 때문에 남녀불문 많은 아이돌들의 롤모델로 꾸준히 꼽히고 있다.
            </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

      </div>
    </div>
  </main>
</body>
</html>